# Add variables

This notebook adds additional variables to the nodelists of academic institutions in Catalunya.
- number of publications
- number of research groups
- number of research projects

# Load modules

In [4]:
import pandas as pd

# Add publications, projects and groups

# Choose institution

In [9]:
# institution_list = ['IGTP', 'UPC', 'UB', 'UPF', 'UVic-UCC', 'UOC']
institution_group_list = ['IGTP+', 'UPC_CIMNE', 'CIMNE', 'UB', 'UPF', 'UVic-UCC', 'UOC']
# institution = 'UPC'
institution_group_list = ['IGTP+']

In [10]:
date_today = '20220309'

for institution in institution_group_list:

    print(f"Institution: {institution}.")
    # Load data

    print("Loading data.")
    nodes_df = pd.read_csv(f'./data/nodes_{institution}_{date_today}.csv')
    
    # TODO: improve this
    if institution == 'IGTP+':
        edges_df = pd.read_csv(f'./data/edges_IGTP.csv')
    elif institution == 'UPC_CIMNE':
        edges_df = pd.read_csv(f'./data/edges_UPC_CIMNE.csv')
    else:
        edges_df = pd.read_csv(f'./data/edges_{institution}.csv')

Institution: IGTP+.
Loading data.

# TODO: calculate breakdown of papers

In [19]:
# TODO: reindent this block after editing to add back into for loop

# Calculate number of publications

print("Adding publications.")
# Calculate n_publications by author
source = edges_df.groupby('Source').sum()
source.index.names = ['id']
target = edges_df.groupby('Target').sum()
target.index.names = ['id']
pubs_df = source.merge(target, left_index=True, right_index=True)
pubs_df['n_publications'] = pubs_df['Weight_x'] + pubs_df['Weight_y']
pubs_df = pubs_df.reset_index()
pubs_df = pubs_df[['id', 'n_publications']]

# Merge into nodes
# nodes_df = nodes_df.merge(pubs_df, how='left', on='id')
# nodes_df['n_publications'] = nodes_df['n_publications'].fillna(0)

Adding publications.

In [21]:
edges_df.head()

                Source               Target  Weight
0  0000-0001-5049-3673  0000-0001-5105-9836       0
1  0000-0001-5049-3673  0000-0001-5119-2266       0
2  0000-0001-5049-3673  0000-0001-5143-4042       0
3  0000-0001-5049-3673  0000-0001-5144-2165       0
4  0000-0001-5049-3673  0000-0001-5154-0013       0

In [20]:
pubs_df

                      id  n_publications
0    0000-0001-5105-9836               5
1    0000-0001-5119-2266              61
2    0000-0001-5143-4042              48
3    0000-0001-5144-2165              41
4    0000-0001-5154-0013              42
..                   ...             ...
503  0000-0003-4844-6143               2
504  0000-0003-4870-3445               2
505  0000-0003-4898-3424               1
506  0000-0003-4902-9739              13
507  0000-0003-4939-8411               7

[508 rows x 2 columns]

In [60]:
    # Save
    nodes_df.to_csv(f'./data/nodes_{institution}_{date_today}.csv', index=None)
    print(f"Saved './data/nodes_{institution}_{date_today}.csv'.")

Institution: IGTP.
Loading data.
Adding publications.
Adding projects and groups.
Saved './data/nodes_IGTP_ext.csv'.

In [61]:
nodes_df

,label,id,department,institution,projects,groups,n_publications,n_projects,n_groups
0,"Abad Calvo, Pilar",0000-0002-6078-0956,Institut de Recerca Germans Trias i Pujol,IGTP,[],[],0.0,2,2
1,"Aguilar-Gurrieri, Carmen",0000-0002-5701-7650,Institut de Recerca Germans Trias i Pujol,IGTP,[],[],5.0,2,2
2,"Agulla Freire, JesÃºs",0000-0001-9574-2549,Institut de Recerca Germans Trias i Pujol,IGTP,[],[],3.0,2,2
3,"AgustÃ­, Cristina",0000-0002-5259-2242,Institut de Recerca Germans Trias i Pujol,IGTP,[],[],2.0,2,2
4,"AguyÃ© Batista, Amada",0000-0002-2674-3633,Institut de Recerca Germans Trias i Pujol,IGTP,[],[],3.0,2,2
...,...,...,...,...,...,...,...,...,...
620,"YÃ©benes, Juan C.",0000-0002-9192-5134,Institut de Recerca Germans Trias i Pujol,IGTP,[],[],7.0,2,2
621,"Zabalegui Yarnoz, Adelaida",0000-0003-1205-3997,Institut de Recerca Germans Trias i Pujol,IGTP,[],['/cris/ou/ou169102'],7.0,2,21
622,"Zamora, Lurdes",0000-0003-1713-7110,Institut de Recerca Germans Trias i Pujol,IGTP,"['/cris/project/pj3447793', '/cris/project/pj3...",['/cris/ou/ou169184'],123.0,54,21
623,"Zazzi, Maurizio",0000-0002-0344-6281,Institut de Recerca Germans Trias i Pujol,IGTP,[],[],0.0,2,2
624,"Zwart, Marta",0000-0003-4888-0927,Institut de Recerca Germans Trias i Pujol,IGTP,[],[],0.0,2,2

# Compress at research group level

# EXTRA CODE

In [48]:
from dataclasses import dataclass

class Publication():
    def __init__(self, title):
        self.title = title
    
    def show(self):
        print(f"Title: {self.title}.")
        
    def __repr__(self):
        return f"Publication('{self.title}')"
        

class Paper(Publication):
    def __init__(self, title, field):
        super().__init__(title)
        self.field = field
        
    def show(self):
        print(f"Title: {self.title}, Field: {self.field}.")
    
    def __repr__(self):
        return f"Paper('{self.title}', '{self.field}')"
    
    def __str__(self):
        return f"{self.title}"
    
    def __enter__(self):
        print('Opening paper...')
        return self
    
    def __exit__(self, exc_type, exc_value, tb):
        print('Closing paper...')
        
    def __bool__(self):
        if len(self) == 0:
            return False
        return True
        
    def __len__(self):
        return len(paper.title)
        
# title = "Urban Morphometrics"
title = ""
field = "Urban Science"
paper = Paper(title, field)
print(len(paper.title))
print(bool(paper))
if paper:
    print('Paper has title!')
else:
    print('Paper has no title!')
    
# with Paper(title, field) as p:
#     p.show()
        
# paper = Paper("Urban Morphometrics", "Urban Science")
# paper.title = "Urban Science"
# paper.show()

from collections import namedtuple

Color = namedtuple('Color', ['red', 'green', 'blue'])
color = Color(red=55, blue=155, green=255)
print(color.green)

type(float('nan'))

mytuple = (1,2,3)
mytuple[3] = 2

import numpy as np

type(np.nan)

from abc import ABC, abstractmethod


class Animal():
    def __init__(self):
        pass
    
    @abstractmethod
    def greet(self):
        """Greeting method"""
        pass
        
    
class Cat(Animal):
    pass

    def greet(self):
        print("Hi!")


cat = Cat()
cat.greet()


def square_nums(lst):
    for item in lst:
        yield item*item
        
my_nums = (x*x for x in [1,2,3,4,5])
# my_nums = square_nums([1,2,3,4])

for num in my_nums:
    print(num)


paper

print(paper)